:root {
  --background: var(--lux-color-background-default);
  --foreground: var(--lux-color-foreground-default);
  --link: var(--lux-color-foreground-link);
  --nav-padding: var(--lux-space-100);
  --nav-bg: var(--lux-color-background-subdued);
  --main-padding-inline: var(--lux-space-100);
  --main-padding-block: var(--lux-space-200);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  fill: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  padding-inline: var(--nav-padding);
  padding-block: var(--nav-padding);
  background-color: var(--nav-bg);
  --lux-icon-color: var(--foreground);
}

a {
  --lux-icon-color: var(--link);
  --lux-alert-icon-inset-block-start: var(--lux-space-25);
  color: var(--link);
  text-decoration: underline dotted var(--link);
}

main {
  padding-inline: var(--main-padding-inline);
  padding-block: var(--main-padding-block);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
